<div class="question-bar">
    <strong>Add Question</strong>
</div>
<div class="row add-ques">
    <div class="col-sm-10">
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group col-sm-12 ques-name">
                    <input type="text" class="form-control question-name" name="ques" formControlName="questionName"
                        placeholder="Click to start typing the question..."
                        [ngClass]="{ 'is-invalid': submitted && f.questionName.errors }">
                    <div *ngIf="submitted && f.questionName.errors" class="invalid-feedback">
                        <div *ngIf="f.questionName.errors.required">Question is required</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <!-- <label for="question">Option 1</label> -->
                    <i class="fa fa-pencil-square option-icon" style="color: purple;" aria-hidden="true"></i>
                    <input type="text" class="form-control option-name" name="opt1" formControlName="option1"
                        placeholder="Add Option 1" [ngClass]="{ 'is-invalid': submitted && f.option1.errors }">
                    <div *ngIf="submitted && f.option1.errors" class="invalid-feedback">
                        <div *ngIf="f.option1.errors.required">Option is required</div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <!-- <label for="question">Option 2</label> -->
                    <i class="fa fa-pencil-square option-icon" style="color:firebrick;" aria-hidden="true"></i>
                    <input type="text" class="form-control option-name" name="opt2" formControlName="option2"
                        placeholder="Add Option 2" [ngClass]="{ 'is-invalid': submitted && f.option2.errors }">
                    <div *ngIf="submitted && f.option2.errors" class="invalid-feedback">
                        <div *ngIf="f.option2.errors.required">Option is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <!-- <label for="question">Option 3</label> -->
                    <i class="fa fa-pencil-square option-icon" style="color: rgb(8, 65, 32);" aria-hidden="true"></i>
                    <input type="text" class="form-control option-name" name="opt3" formControlName="option3"
                        placeholder="Add Option 3" [ngClass]="{ 'is-invalid': submitted && f.option3.errors }">
                    <div *ngIf="submitted && f.option3.errors" class="invalid-feedback">
                        <div *ngIf="f.option3.errors.required">Option is required</div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <!-- <label for="question">Option 4</label> -->
                    <i class="fa fa-pencil-square option-icon" style="color: rgb(34, 28, 95);" aria-hidden="true"></i>
                    <input type="text" class="form-control option-name" name="opt4" formControlName="option4"
                        placeholder="Add Option 4" [ngClass]="{ 'is-invalid': submitted && f.option4.errors }">
                    <div *ngIf="submitted && f.option4.errors" class="invalid-feedback">
                        <div *ngIf="f.option4.errors.required">Option is required</div>
                    </div>
                </div>
            </div>

            <div class="button-bar">
                <button type="button" style="margin-right: 11px" class="btn btn-md btn-primary"
                    (click)="cancel()">Cancel</button>
                <button type="submit" class="btn btn-md btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>