<div class="intro-page">
  <div class="row head-topic">
    <h1 class="heading">PRIME PSC Online Mock Test portal</h1>
    <h4>Stock Market * Insurance * Bank Exam * Govt Exam * Medical Entrance * CA/CS Entrance Exam * Engineering * Law
      Entrance * Financial Planning</h4>
  </div>

  <div class="chart-wrapper mt-3 mx-3" style="height:60px;">
    <div class="btn-tab premium">
      <div class="premium-btn">
        <i class="fa fa-sign-in premium-login" aria-hidden="true"></i>
        <button type="button" class="btn btn-outline-info enter-btn">PREMIUM USER LOGIN</button>
      </div>
      <div class="premium-btn">
        <i class="fa fa-shopping-cart premium-buy" aria-hidden="true"></i>
        <button type="button" class="btn btn-outline-info enter-btn">BUY PREMIUM</button>
      </div>
    </div>
  </div>

  <div class="row body-content">
    <div class="col-sm-6 col-lg-4" style="margin-top:2%;margin-bottom:2%;" *ngFor="let data of subGrouplist">
      <div class="card text-white" [ngStyle]="random_bg_color()">
        <div class="card-body pb-0">
          <div class="text-value">{{data.questionSubgroup}}</div>
        </div>
        <div class="sub-body">
          <div class="chart-wrapper mt-3 mx-3" style="height:auto;">
            <div class="btn-tab">
              <div class="intro-btn" *ngIf=data.pdfMaterial>
                <button type="button" class="btn btn-outline-info enter-btn"
                  (click)=studyNotes(data.pdfMaterial,data.questionSubgroup)>STUDY NOTES</button>
              </div>
              <div class="intro-btn" *ngIf=data.videoUrl>
                <button type="button" class="btn btn-outline-info enter-btn" (click)="goToLink(data.videoUrl)">VIDEO
                  CONCEPTS</button>
              </div>
            </div>

            <div class="btn-tab">
              <div class="intro-btn">
                <button type="button" class="btn btn-outline-info enter-btn" (click)=mockTest()>FREE MOCK TEST</button>
              </div>
              <div class="intro-btn">
                <button type="button" class="btn btn-outline-info enter-btn">BUY PREMIUM</button>
              </div>
            </div>

            <!-- <div class="btn-tab">
              <div class="intro-btn">
                <button type="button" class="btn btn-outline-info enter-btn" (click)=mockTest()>FREE MOCK TESTS</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>