<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/prime-psc.jpg', width: 100, height: 40, alt: 'PRIME PSE'}"
  [navbarBrandMinimized]="{src: '', width: 30, height: 30, alt: 'PRIME PSE'}" [sidebarToggler]="''"
  [asideMenuToggler]="''">

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <button type="button" class="btn btn-brand btn-lg btn-facebook mr-1" style="margin-bottom: 4px">
        <i class="fa fa-facebook"></i>
      </button>
    </li>
    <li class="nav-item d-md-down-none">
      <button type="button" class="btn btn-brand btn-lg btn-linkedin mr-1" style="margin-bottom: 4px">
        <i class="fa fa-linkedin"></i>
      </button>
    </li>
    <li class="nav-item d-md-down-none">
      <button type="button" class="btn btn-brand btn-lg btn-google-plus mr-1" style="margin-bottom: 4px">
        <i class="fa fa-google-plus"></i>
      </button>
    </li>
    <li class="nav-item d-md-down-none" *ngIf="isAdmin;else notAdmin ">
      <button title="logout" type="button" class="btn btn-brand btn-lg mr-1" (click)="logout()">
        <i class="material-icons">&#xe8ac;</i>
      </button>
    </li>
    <ng-template #notAdmin>
      <li class="nav-item d-md-down-none">
        <button title="login" routerLink="/login" type="button" class="btn btn-brand btn-lg mr-1">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </button>
      </li>
    </ng-template>

  </ul>

</app-header>
<div class="app-body">
  <main class="main">

    <div class="topnav" *ngIf="isAdmin">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/add-question" routerLinkActive="active">Question</a>
      <a routerLink="/add-group" routerLinkActive="active">Group</a>
      <a routerLink="/add-subgroup" routerLinkActive="active">Sub Group</a>
      <a routerLink="">Reports</a>
    </div>


    <div class="container-fluid">
      <router-outlet></router-outlet>
      <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="rebeccapurple" type="timer" [fullScreen]="true">
        <p style="color: rebeccapurple"> Loading... </p>
      </ngx-spinner>
    </div><!-- /.container-fluid -->
  </main>
</div>