<ng-content></ng-content>

<form [formGroup]="formGroup" class="row question-form" (ngSubmit)="onSubmit()">
  <ol class="form-group">
    <mat-radio-group class="row" aria-labelledby="quiz-form-radio-group" formControlName="answer" name="answer"
      (change)="radioChange($event.value)" required>
      <div class="radio-options col-sm-6" *ngFor="let option of question.options;let i=index">
        <div class="chooseoption">{{chooseOptions[i]+'.'}}</div>  <mat-radio-button name="option-radio-button" class="option" [value]="option.optionValue"
          [checked]="question.selectedOption == option" [disabled]="disableAnswer"
          [ngClass]="{'is-correct': option.isChecked}">
          <li style="list-style-type: none;">{{ option?option.optionText.includes('data:image/')?'':option.optionText:'' }}</li>

          <img *ngIf="option.optionText.includes('data:image/')" [src]="option.optionText"
          style="height: 100px;width: 110px;">
        </mat-radio-button>


        <section class="messages" *ngIf="disableAnswer">
          <div *ngIf="isCorrect(option.optionValue) && option.isChecked">
            <pre
              class="message correct-message">  You&apos;re right! The correct answer is Option {{ question?.answer }}.</pre>
          </div>
          <div *ngIf="isIncorrect(option.optionValue)">
            <pre
              class="message wrong-message">  That&apos;s wrong. The correct answer is Option {{ question?.answer }}.</pre>
          </div>
        </section>
      </div>
    </mat-radio-group>
  </ol>
</form>