<div class="question-bar">
    <strong>Add Group</strong>
</div>
<div class="row add-ques">
    <div class="col-sm-10">
        <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="form-group col-sm-12 ques-name">
                    <i class="fa fa-question-circle-o input-icon" aria-hidden="true"></i>
                    <input type="text" class="form-control question-name" name="ques" formControlName="questionGroup"
                        placeholder="Click to start typing the Group..."
                        [ngClass]="{ 'is-invalid': submitted && f.questionGroup.errors }"
                        (change)=checkGroup($event.target.value)>
                    <div *ngIf="submitted && f.questionGroup.errors" class="invalid-feedback">
                        <div *ngIf="f.questionGroup.errors.required">Group is required</div>
                        <div *ngIf="f.questionGroup.errors.maxlength">Maximum 50 characters</div>
                        <div *ngIf="existsques && !f.questionGroup.errors.required">Group already exists!</div>
                    </div>
                </div>
            </div>

            <div class="button-bar">
                <button type="button" style="margin-right: 11px" class="btn btn-md btn-primary"
                    (click)="cancel()">Cancel</button>
                <button type="submit" class="btn btn-md btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="group-list col-sm-10" *ngIf="showList">
    <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
            <tr>
                <th class=" white-space">Question group</th>
                <th class="">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of grouplist; let i=index">
                <td class="text-left">{{data.questionGroup}}</td>
                <td class="text-left white-space"><i class="fa fa-pencil-square-o fa-lg edit-icon"
                        (click)="editGroup(data._id)"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-trash fa-lg remove-icon"
                        (click)="openModel(data._id)"></i></td>
            </tr>
        </tbody>
    </table>
    <!-- <span class="empty-data" *ngIf='noData'>No Data Available</span>
    <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body dialog-modal">
                Are you sure you want to remove?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-primary" (click)="deleteModal.hide()">Close</button>
                <button type="button" class="btn btn-md btn-primary" (click)="removeGroup()">Confirm </button>
            </div>
        </div>
    </div>
</div>