<div class="row">
  <div class="col-10">
<div class="question-bar">
  <strong>Question</strong>
</div>
<mat-card>
  <mat-card-content>
    <section class="scoreboard">
      <div class="row">
        <div class="score">
          <span class="leader">Score</span>
          <span class="scoreboard">
            {{ correctAnswersCount }}/{{ totalQuestions }}
          </span>
        </div>
        <div class="badge" *ngIf="question && question.questionId <= totalQuestions">
          <span>Question {{ question?.questionId+1 }} of {{ totalQuestions }}</span>
        </div>
        <div class="time-left" *ngIf="subscribeTimer">
          <span class="leader">Time</span>
          <span class="scoreboard">
            0:<span *ngIf="subscribeTimer < 10">0</span>{{subscribeTimer}}
          </span>
        </div>
      </div>
    </section>

    <section id="question">
      {{question?.questionText }}
    </section>
    <app-questionform *ngIf="question" [question]="question" [disableAnswer]="disableAnswer"></app-questionform>

    <!-- <section id="option" class="row">
        <div class="col-6" *ngFor="let option of allQuestions[0]['options'] ">
            <p (click)="checkIfAnsweredCorrectly()">{{option.optionValue}}) {{option.optionText}}</p>
        </div>
        
      </section> -->


  </mat-card-content>

  <mat-card-footer>
    <section class="paging">
      <mat-card-actions>
        <div class="row button-tab">
          <div class="col-sm-8" style="text-align: right;">
            <span class=" previousQuestionNav" *ngIf="question && question.questionId !== 0 && previous ">
              <button type="button" class="btn btn-md btn-primary" (click)="navigateToPreviousQuestion(question?.questionId)">
                &laquo; Previous
              </button>
            </span>

            <span class=" nextQuestionNav" *ngIf="question && question.questionId !== totalQuestions-1">
              <button type="button" class="btn btn-md btn-primary" [disabled]="disabled"
                (click)="navigateToNextQuestion(question?.questionId)">
                Next &raquo;
              </button>
            </span>
          </div>

          <div class="col-sm-4">
            <div class="col-sm-8 showScoreNav"
              *ngIf="question && question.questionId === totalQuestions-1 && !disableAnswer">
              <button type="submit" class="btn btn-md btn-primary" (click)="navigateToResults()">
                Show Your Score</button>
            </div>

            <div class="col-sm-4 close-exam" *ngIf="question && question.questionId">
              <button type="submit" class="btn btn-md btn-primary" (click)="closeExam()">
                End Exam</button>
            </div>

            <!-- <div class="showScoreNav" *ngIf="question && question.questionId === totalQuestions && disableAnswer">
            <button type="submit" class="btn btn-md btn-primary" (click)="navigateToDashboard()">
              Go to Dashboard</button>
          </div> -->
          </div>
        </div>
      </mat-card-actions>
    </section>

    <section class="progress-bar">
      <!-- <ngb-progressbar *ngIf="(progressValue >= 0 && progressValue <= 100) &&
                                question && question.questionId <= totalQuestions"
                         type="success" [striped]="true" [animated]="true" [value]="progressValue">
          <strong>{{ progressValue }}%</strong>
        </ngb-progressbar> -->
    </section>
  </mat-card-footer>
</mat-card>
</div>
<div class="col-2" *ngIf="allQuestions">
    <div class="question-bar">
        <p>Question Attempted</p>
      </div>
      <mat-card class="qnlist">
          <mat-card-content class="no-list" >
             <ul class="qn-list"> <li (click)=navigateToNextQuestion(i,true) *ngFor='let in of counter(3) ;let i = index' [class]="(allQuestions[i]['selectedOption']  =='' && allQuestions[i]['isSkipped']) ? 'skipped' : allQuestions[i]['selectedOption']  =='' ? 'not-visited' :  'checked' ">{{i+1}}</li></ul>
             <!-- <ul class="qn-list"> <li *ngFor='let in of counter(40) ;let i = index' >{{i+1}}</li></ul> -->
            </mat-card-content>
          <hr>
        <mat-card-footer>
            <ul class="legend">
                <li><span class="answered"></span> Answered</li>
                <li><span class="not-answered"></span>Not Answered</li>
                <li><span class="not-visited"></span> Not Visited</li>
            </ul>
            
        </mat-card-footer>
      </mat-card>
</div>

</div>

<div bsModal #resultModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exam Result</h5>
        <button type="button" class="close" (click)="resultModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body dialog-modal">
        <div class="row">
          <div class="col-sm-9 result-data"><label>Total Question</label></div>
          <div class="col-sm-3 result-data"><label>{{totalQuestions}}</label></div>
          <div class="col-sm-9 result-data"><label>Total Marks</label></div>
          <div class="col-sm-3 result-data"><label>{{totalMarks}}</label></div>
          <div class="col-sm-9 result-data"><label>No.of Questions attempted</label></div>
          <div class="col-sm-3 result-data"><label>{{questionAttempted}}</label></div>
          <div class="col-sm-9 result-data"><label>No.of Questions not attempted</label></div>
          <div class="col-sm-3 result-data"><label>{{totalQuestions - questionAttempted }}</label></div>
          <div class="col-sm-9 result-data"><label>Required Marks</label></div>
          <div class="col-sm-3 result-data"><label>{{math.round(totalQuestions / 2)}}</label></div>
          <div class="col-sm-9 result-data"><label>Marks Scored</label></div>
          <div class="col-sm-3 result-data"><label>{{markedScore}}</label></div>
          <div class="col-sm-9 result-data"><label>Remarks</label></div>
          <div class="col-sm-3 result-data"><label>{{(markedScore >= (totalQuestions / 2)) ? 'PASS' : 'FAIL' }}</label></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-primary" (click)="resultModal.hide()">Close</button>
        <button type="button" class="btn btn-md btn-primary" (click)="viewAnswers()">View Answers </button>
      </div>
    </div>
  </div>
</div>


<div bsModal #closeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="closeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title">Exam Result</h5>
        <button type="button" class="close" (click)="closeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body dialog-modal">
        <div class="row">
          <div>Are you sure want to end your examination?</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-primary" (click)="closeModal.hide()">Close</button>
        <button type="button" class="btn btn-md btn-primary" (click)="endExam()">End Exam </button>
      </div>
    </div>
  </div>
</div>